# Bundler
/.bundle/
/vendor/bundle
Gemfile.lock

# Environment
.env
.env.local
.env.json

# IDE
.idea/
*.swp
*.swo
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/log/

# Testing
/coverage/
/spec/reports/

# Gem build
*.gem
/pkg/
