---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/employees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - modifiedTime, role, role.id, customId, name, nickname, id, deletedTime, deleted_time,
        email
      X-Clover-Request-Id:
      - 77ef5b69-4e83-416e-bbd8-925a4d09f11e
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ {"href": "https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/employees/R3TQ2FGG576SG",
        "id": "R3TQ2FGG576SG", "name": "Leonard Sauer IV", "email": "leonard.sauer.iv@example.com",
        "inviteSent": false, "pin": "073323", "role": "MANAGER", "isOwner": false,
        "orders": {"href": "https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/employees/R3TQ2FGG576SG/orders"}},
        {"href": "https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/employees/7489T5CJPC102",
        "id": "7489T5CJPC102", "name": "Reid Emmerich", "email": "reid.emmerich@example.com",
        "inviteSent": false, "pin": "834097", "role": "EMPLOYEE", "isOwner": false,
        "orders": {"href": "https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/employees/7489T5CJPC102/[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/cash_events
    body:
      encoding: UTF-8
      string: '{"type":"ADD","amountChange":1000,"employee":{"id":"R3TQ2FGG576SG"},"timestamp":1770241692849,"note":"Test
        cash add"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - GET, OPTIONS
    body:
      encoding: UTF-8
      string: 405 POST not allowed.
  recorded_at: Wed, 04 Feb 2026 21:48:13 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/cash_events
    body:
      encoding: UTF-8
      string: '{"type":"ADD","amountChange":1000,"employee":{"id":"R3TQ2FGG576SG"},"timestamp":1770432827833,"note":"Test
        cash add"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - GET, OPTIONS
    body:
      encoding: UTF-8
      string: 405 POST not allowed.
  recorded_at: Sat, 07 Feb 2026 02:53:48 GMT
recorded_with: VCR 6.4.0
