---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/cash_events?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - employee.id, note, amountChange, employee.name, type, device.id, timestamp
      X-Clover-Request-Id:
      - 183b30af-1aa7-4ab5-9f36-a723d689b45c
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ ], "href": "http://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/cash_events?limit=100"}'
  recorded_at: Wed, 04 Feb 2026 21:48:12 GMT
recorded_with: VCR 6.4.0
