---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Group 1770240313","minRequired":0,"maxAllowed":3}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 13b51c44-966d-44dc-b48f-d0caa4d3f978
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "E85AN43PP8BNJ", "name": "VCR Test Group 1770240313", "minRequired":
        0, "maxAllowed": 3, "showByDefault": true, "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:25:14 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Group 1770245929","minRequired":0,"maxAllowed":3}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - a8fd2814-272d-493a-ab86-fb4bc5d3c818
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "4TN7HCCYB2RG2", "name": "VCR Test Group 1770245929", "minRequired":
        0, "maxAllowed": 3, "showByDefault": true, "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:58:50 GMT
recorded_with: VCR 6.4.0
