---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Group for Modifier 1770240314","minRequired":0,"maxAllowed":5}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - c09a58b0-b469-4c60-bf3b-8ad1d52f751c
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "EH6B8FFR2HCTC", "name": "VCR Test Group for Modifier 1770240314",
        "minRequired": 0, "maxAllowed": 5, "showByDefault": true, "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:25:15 GMT
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/EH6B8FFR2HCTC/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 8daaea23-5dfd-413c-a1ec-ad6188851a68
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "4BFCWP32JZ92P", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240316000, "modifierGroup": {"id": "EH6B8FFR2HCTC"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:25:15 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/4VZGNK5GEMPHE/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - e018b9b4-5161-4252-8a15-b5dc66d06713
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "DQX8604EDMK9R", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240330000, "modifierGroup": {"id": "4VZGNK5GEMPHE"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:25:30 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/DW81CC09KCK1Y/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - a029ea7f-4a19-4b66-934f-c402295542a9
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "P5J1GYBXDT9YE", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240372000, "modifierGroup": {"id": "DW81CC09KCK1Y"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:26:12 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/8Q67VA1NDEKJR/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - fd276342-77ee-4f7b-a26d-8b3b9df66d49
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "8AMYZFAR9XV9T", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240603000, "modifierGroup": {"id": "8Q67VA1NDEKJR"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:30:03 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/JWVWJXZVA72KW/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 647400b4-06ff-4b28-8bc7-1c0265152d31
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "PBFB87WCFQCRM", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240620000, "modifierGroup": {"id": "JWVWJXZVA72KW"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:30:20 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/GBFN6CD10T224/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - c55ec84c-04f9-4c47-8ad5-2f85952c6367
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "QYNMGTWPRM966", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240657000, "modifierGroup": {"id": "GBFN6CD10T224"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:30:57 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/26JSASKES0R9P/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 9e1913c3-4d11-4fbd-b19c-3753c27c5c70
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "DY6A6W79132NC", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240808000, "modifierGroup": {"id": "26JSASKES0R9P"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:33:28 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/10EG14Q1QETX8/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 5abeb217-c2e2-491a-b315-fa9feb8ec43a
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "F9J8A4F3TR3VW", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240896000, "modifierGroup": {"id": "10EG14Q1QETX8"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:34:56 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/CZJW43TVGWMRG/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 8b6b7c29-cb3a-4b15-a787-f5a0393fd8f0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "S0MB781VMTMEY", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770240939000, "modifierGroup": {"id": "CZJW43TVGWMRG"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:35:39 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/17DQS1YDVMX96/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - b294ff26-2eb3-4ac2-af2f-3701b59a6590
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "5H3W4GRHVJG52", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241047000, "modifierGroup": {"id": "17DQS1YDVMX96"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:37:27 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/3RVJDVDHN9T2P/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 915f0c19-4097-4cbf-acf1-ad9179a8fab4
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "NMGK61RNCFXV0", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241310000, "modifierGroup": {"id": "3RVJDVDHN9T2P"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:41:49 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/7Y1BEMS5SW9SE/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 1fed469e-daf3-4d2d-bf56-10a6ba73b2ec
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "WJ2FSKGSRK582", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241321000, "modifierGroup": {"id": "7Y1BEMS5SW9SE"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:42:00 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/VEB8TFJX1RXD8/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 2f90091b-46b1-4e33-8276-bac57e15d2d3
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "GBDNA3JRNKRCT", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241404000, "modifierGroup": {"id": "VEB8TFJX1RXD8"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:43:24 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/XKX2VEJF5KNRY/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 89d14b27-24ea-4b40-8405-1dd26b023a61
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "K0KQ4KE9VAF9Y", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241461000, "modifierGroup": {"id": "XKX2VEJF5KNRY"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:44:21 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/HCYJ6HZD5NBRW/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - ffe036ae-a44b-4530-827e-360edf56d414
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "XJ05XQ2V1BD9C", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241554000, "modifierGroup": {"id": "HCYJ6HZD5NBRW"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:45:54 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/7WXTYVSNZCH2G/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 61e114f7-e420-409c-a162-d818de976523
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "BD51Z0FGPXCEE", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241621000, "modifierGroup": {"id": "7WXTYVSNZCH2G"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:47:01 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/0Y8B2T6A7KMDM/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - f710f0a2-4873-42c0-a9e6-be9e8b85c995
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "FEJP5TQX6HV7A", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241655000, "modifierGroup": {"id": "0Y8B2T6A7KMDM"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:47:35 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/J2SPTXX74PJJ4/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 72a0be7f-b8b1-49a5-a5b7-9c254c1886cd
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "6CKY94ZNNX3XT", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241736000, "modifierGroup": {"id": "J2SPTXX74PJJ4"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:48:55 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/QK6QF1HY485BJ/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - d24c7dcd-019c-4adf-9170-583736bdf773
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "VQA4DHNEYJMTA", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770241764000, "modifierGroup": {"id": "QK6QF1HY485BJ"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:49:24 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/TQD4ZJ8337X30/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 02c26b30-191b-41df-9917-69dd46c5e853
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "VQA6GGPAXS386", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770242708000, "modifierGroup": {"id": "TQD4ZJ8337X30"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:05:08 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/35Y1DRF6QDX56/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 85f1b193-a285-4147-ae28-0d6ae214ee4b
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "RGVKS1WDKT8XA", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770242738000, "modifierGroup": {"id": "35Y1DRF6QDX56"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:05:38 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/S8WJPK6GMR25A/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 7f3a5da9-9690-4b30-8b8c-3567ec6cacaf
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "R402KTQ1J8ZZR", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770242809000, "modifierGroup": {"id": "S8WJPK6GMR25A"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:06:49 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/ZPKJJWG5CDVWJ/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - e75ff6a3-cf02-4b50-8dac-a4dab7d52dcc
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "Q53G74M942W8Y", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770244151000, "modifierGroup": {"id": "ZPKJJWG5CDVWJ"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:29:11 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/CR46M7GAKG5ZE/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - cafcc723-0430-4e9b-b4f3-5fb2de0e9ca9
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "EME9YHH2ZBS10", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770244266000, "modifierGroup": {"id": "CR46M7GAKG5ZE"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:31:06 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/PGB6YNH2ZKF68/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - f518f65e-7851-4e34-8fc8-1da127bcfa95
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "ZMGF4ZYCP497A", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770244320000, "modifierGroup": {"id": "PGB6YNH2ZKF68"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:32:00 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/EV0J72JF4K6W6/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 40a6b709-8963-41e8-b397-36f92269fb17
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "VMH9F32VXQW4A", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770244414000, "modifierGroup": {"id": "EV0J72JF4K6W6"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:33:34 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/EHZ33JH9TD6JE/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 31efe12b-4091-4a71-8e2d-024d9f527e64
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "AAJ3PR4Y7VWMG", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770245931000, "modifierGroup": {"id": "EHZ33JH9TD6JE"},
        "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 22:58:51 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/482QC5XR4JPG2/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 1755caad-afbd-415a-aad1-43835de5bfbd
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "ED5VBF9BYV6SP", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770364948000, "modifierGroup": {"id": "482QC5XR4JPG2"},
        "deleted": false}'
  recorded_at: Fri, 06 Feb 2026 08:02:28 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/DYNY76DH695CY/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 40897ecf-4185-4bb9-a4bf-e12b53962a27
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "K39MGN6GFN12M", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770365041000, "modifierGroup": {"id": "DYNY76DH695CY"},
        "deleted": false}'
  recorded_at: Fri, 06 Feb 2026 08:04:01 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/2294GYP2PTT3Y/modifiers
    body:
      encoding: UTF-8
      string: '{"name":"Extra Cheese","price":150}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 1c62b138-54a6-455e-86c7-0a2931542f2d
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "B841YCA3HEGWR", "name": "Extra Cheese", "available": true,
        "price": 150, "modifiedTime": 1770421179000, "modifierGroup": {"id": "2294GYP2PTT3Y"},
        "deleted": false}'
  recorded_at: Fri, 06 Feb 2026 23:39:39 GMT
recorded_with: VCR 6.4.0
