---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Group to Delete 1770240315","minRequired":0,"maxAllowed":1}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 8034b7cd-24ab-4687-88ae-f592ffac5fb6
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "ATDDZVWNM8G9Y", "name": "VCR Test Group to Delete 1770240315",
        "minRequired": 0, "maxAllowed": 1, "showByDefault": true, "deleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:25:16 GMT
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/ATDDZVWNM8G9Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 738dd5f1-9d27-4cae-a6ed-4c8852322acb
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:25:17 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/R9P6PH8Z5C62W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 11ce5df2-e50d-44e2-802f-44fa941e1312
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:25:31 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/5F3GCYX1XZNF6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 47dd9a83-cdfd-4f0e-8649-a9cb9bfe3632
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:26:13 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/8KBDZQWC8QMQ2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 88aa38de-c1ce-45c5-af5e-48a589466b4e
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:30:05 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/3B6ESRHG5TMNY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 9cc3ef4a-8743-4275-9db3-e1bc3ab2a539
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:30:22 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/9V7XB9A2TV04G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - a42e20b4-693d-4e43-bda6-78831f8cdc2f
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:30:58 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/48XV5E734YK9G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - abe903a6-c32d-4cf9-8ec4-8f8b01e6e87a
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:33:29 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/SH5H148SB29C6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 9911d5dc-9b3b-471c-af14-4aed7d7b1245
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:34:58 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/QJP9J16ECK0WE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 8abff667-2002-4c9a-9126-389f90b78760
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:35:40 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/4VS28TK3TD0ZM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - ace50816-7de2-46b4-af12-45eedb7d978a
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:37:28 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/MQ6Z65EZ38PTE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - f2a5a79d-f65e-4bd6-9f0a-defccb8f3fd5
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:41:51 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/FVDRWQ85QQCWW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - d8f57185-b3bc-4366-992e-3700ebe40551
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:42:02 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/0YWTSX3B1H9YP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 76becb56-b367-457c-b977-368630cbac86
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:43:25 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/A32WTWS3J6N00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - d1f2c32a-5c30-4263-a9f0-152e9ef08ae6
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:44:22 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/N7KZ0RV3CR9ZY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - dd1658b8-6d67-4af8-8ce2-fa744d2a990c
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:45:56 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/47S49F2FNVR8A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 3e408ce3-920b-4997-b5b2-b53cb80247b9
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:47:03 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/716XEN5MYM6YG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - d8d8caa7-26aa-45d6-b931-6a9473788440
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:47:37 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/6KJ96Q8055384
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 2a850fee-59ed-471e-9889-58fc3e4c0d75
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:48:57 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/YCCFMWZKFPHVY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 7fadc938-0db2-43c2-995d-bbf42f6756c0
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:49:25 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/WA4H550EN0AA4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 3cd69c49-1e97-410e-ba71-c6e9b84ce43e
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:05:09 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/9S02F0MG6Z2CP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 6a1610ae-f581-4691-81c7-dd7464691417
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:05:40 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/MNVBRH23NWYJ2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 9013ca29-8468-4558-8f83-2067e7592080
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:06:51 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/340YYCJRD1NVE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - da4c08ff-1c41-4ed3-8386-74b14118af06
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:29:13 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/6TVYF8AQBD4JG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 15249568-530b-4ba6-9dd9-c217a480b858
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:31:08 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/RB9PXTAMN1ND6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 4518cabb-821c-4cab-b61a-6e135d78688b
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:32:02 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/D92TWX9DXZXZ8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - d4e598df-d0b8-46aa-b640-8c6c114ded4d
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:33:35 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/A1J2JRT2Z6PRY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 5fa02ba6-5715-41c1-b675-a3d0619f6a65
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 22:58:52 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/TETEJK4KQ53NC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 0a9899d8-3024-4dc4-b787-0002c2800ce2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 06 Feb 2026 08:02:29 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/JH9GMSR0BM1S4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - b7138b4f-e4f4-4ab2-829e-d5515ee6f2b4
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 06 Feb 2026 08:04:03 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups/VXV2AJC7CBDRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - ca1d42c4-4513-46ce-b601-f5b927492e08
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 06 Feb 2026 23:39:40 GMT
recorded_with: VCR 6.4.0
