---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups?expand=modifiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - modifiedTime, category.id, negativeSortOrder, item.id, sortOrder, name, id,
        showByDefault
      X-Clover-Request-Id:
      - 28eb6a3f-f7dd-4686-853d-4548d0e7ebbe
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ ], "href": "http://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/modifier_groups?limit=100"}'
  recorded_at: Wed, 04 Feb 2026 21:25:13 GMT
recorded_with: VCR 6.4.0
