---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: UTF-8
      string: '{"name":"Test Tax 1770242771","rate":550000,"isDefault":false,"taxType":"VAT_EXEMPT"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - e923da2b-83d1-4522-9ee8-3d0f0265f064
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "S8PTQGPP59064", "name": "Test Tax 1770242771", "taxType": "VAT_EXEMPT",
        "rate": 550000, "isDefault": false}'
  recorded_at: Wed, 04 Feb 2026 22:06:12 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: UTF-8
      string: '{"name":"Test Tax 1770365045","rate":550000,"isDefault":false,"taxType":"VAT_EXEMPT"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 6ee18831-eeb8-46ae-81fa-aa67cb250c1e
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "SM2XAWE6R3WAP", "name": "Test Tax 1770365045", "taxType": "VAT_EXEMPT",
        "rate": 550000, "isDefault": false}'
  recorded_at: Fri, 06 Feb 2026 08:04:05 GMT
recorded_with: VCR 6.4.0
