---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: UTF-8
      string: '{"name":"Test Tax 1770242771","rate":550000,"isDefault":false,"taxType":"VAT_EXEMPT"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - e923da2b-83d1-4522-9ee8-3d0f0265f064
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "S8PTQGPP59064", "name": "Test Tax 1770242771", "taxType": "VAT_EXEMPT",
        "rate": 550000, "isDefault": false}'
  recorded_at: Wed, 04 Feb 2026 22:06:12 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: UTF-8
      string: '{"name":"Test Tax 1770432866","rate":550000,"isDefault":false,"taxType":"VAT_EXEMPT"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 0f3bec7d-190d-489f-8747-540c427855b2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "WAR1HX73DEH16", "name": "Test Tax 1770432866", "taxType": "VAT_EXEMPT",
        "rate": 550000, "isDefault": false}'
  recorded_at: Sat, 07 Feb 2026 02:54:27 GMT
recorded_with: VCR 6.4.0
