---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - isDefault, rate, items.id, name, id, taxAmount, taxType
      X-Clover-Request-Id:
      - 3819e659-d92a-48fc-8f5e-e46909f2db8d
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ {"id": "EGHPEPQ0XZ2K8", "name": "NO_TAX_APPLIED", "rate":
        0, "isDefault": false}], "href": "http://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates?limit=100"}'
  recorded_at: Wed, 04 Feb 2026 22:06:11 GMT
recorded_with: VCR 6.4.0
