---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/items?expand=categories,modifierGroups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - modifiedTime, hidden, itemCode, available, lowStock, option.id, excludeCashDiscount,
        type, modifierGroup.id, autoManage, all_categorized_items.item_uuid, price,
        menuId, id, sku, defaultTaxRates, menuItemEnabled, ageRestricted, tags.id,
        alternateName, isRevenue, tags.name, deleted, item.id, name, price_type, itemStock.quantity,
        itemGroup.id
      X-Clover-Request-Id:
      - 8c0ec9f5-6d7b-4c0c-8daa-9c7b01beece2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ {"id": "64TSD94BZX1CC", "hidden": false, "available":
        true, "autoManage": false, "name": "Soup of the Day", "price": 599, "priceType":
        "FIXED", "defaultTaxRates": true, "isRevenue": true, "modifierGroups": {"elements":
        [ ]}, "categories": {"elements": [ {"id": "9HXEMGFFVH4Z8", "name": "Specials",
        "sortOrder": 7, "deleted": false}]}, "modifiedTime": 1770157294000, "deleted":
        false}, {"id": "RT5NGXYPWKVS4", "hidden": false, "available": true, "autoManage":
        false, "name": "Chef''s Special", "price": 2499, "priceType": "FIXED", "defaultTaxRates":
        true, "isRevenue": true, "modifierGroups": {"elements": [ ]}, "categories":
        {"elements": [ {"id": "9HXEMGFFVH4Z8", "name": "Specials", "sortOrder": 7,
        "deleted": false}]}, "modifiedTime": 1770157292000, "deleted": false}, {"id":
        "CS9YF4ND8VX5E", "hidden[...]
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/items/64TSD94BZX1CC/tax_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - OPTIONS
    body:
      encoding: UTF-8
      string: 405 GET not allowed.
  recorded_at: Wed, 04 Feb 2026 22:06:19 GMT
recorded_with: VCR 6.4.0
