---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - isDefault, rate, items.id, name, id, taxAmount, taxType
      X-Clover-Request-Id:
      - 47bacc14-129e-4382-93a5-915e4730c0d7
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ {"id": "S8PTQGPP59064", "name": "Test Tax 1770242771",
        "taxType": "VAT_EXEMPT", "rate": 550000, "isDefault": false}, {"id": "EGHPEPQ0XZ2K8",
        "name": "NO_TAX_APPLIED", "rate": 0, "isDefault": false}], "href": "http://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates?limit=100"}'
  recorded_at: Wed, 04 Feb 2026 22:06:13 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/tax_rates
    body:
      encoding: UTF-8
      string: '{"name":"Prepared Food Tax","rate":825000,"isDefault":false,"taxType":"VAT_EXEMPT"}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 566ba63a-87b5-4744-be63-3d976fc85d79
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "ASGV2CSAHNKZP", "name": "Prepared Food Tax", "taxType": "VAT_EXEMPT",
        "rate": 825000, "isDefault": false}'
  recorded_at: Wed, 04 Feb 2026 22:06:15 GMT
recorded_with: VCR 6.4.0
