---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/orders
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 0e8cb803-aaf6-4d34-82fd-d5fcf50bd23a
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"href": "https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/orders/7DG6CYXSHCA2P",
        "id": "7DG6CYXSHCA2P", "currency": "USD", "taxRemoved": false, "isVat": false,
        "manualTransaction": false, "groupLineItems": true, "testMode": false, "createdTime":
        1770240834000, "clientCreatedTime": 1770240834000, "modifiedTime": 1770240834000}'
  recorded_at: Wed, 04 Feb 2026 21:33:54 GMT
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/orders/7DG6CYXSHCA2P/service_charge
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Service Charge","percentageDecimal":1500}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Clover-Request-Id:
      - d01abb0e-b77a-4342-b94c-ac5838ee15a5
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Service charge in body is missing an ID"}'
  recorded_at: Wed, 04 Feb 2026 21:33:54 GMT
- request:
    method: delete
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/orders/7DG6CYXSHCA2P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - ddc53026-beab-4c0c-b613-9d359de02c65
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 04 Feb 2026 21:33:55 GMT
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/default_service_charge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 33104c6e-95e0-4a0c-9cc0-c7e8c1f07671
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "0NTYHMTK4JG34", "name": "Service Charge", "enabled": false,
        "percentage": 10, "percentageDecimal": 100000}'
  recorded_at: Wed, 04 Feb 2026 21:34:14 GMT
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/default_service_charge
    body:
      encoding: UTF-8
      string: '{"name":"VCR Test Service Charge","percentageDecimal":1500,"enabled":true}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - GET, OPTIONS
    body:
      encoding: UTF-8
      string: 405 POST not allowed.
  recorded_at: Wed, 04 Feb 2026 21:34:15 GMT
recorded_with: VCR 6.4.0
