---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/default_service_charge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 9315ab2c-b8b8-45ac-b5cd-aa6a8f1c7c7b
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "0NTYHMTK4JG34", "name": "Service Charge", "enabled": false,
        "percentage": 10, "percentageDecimal": 100000}'
  recorded_at: Wed, 04 Feb 2026 21:33:53 GMT
recorded_with: VCR 6.4.0
