---
http_interactions:
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types
    body:
      encoding: UTF-8
      string: '{"label":"Test Order Type 1770241686","taxable":true,"fee":100,"minOrderAmount":500,"avgOrderTime":0,"isDeleted":false}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - cebfeba5-272c-4d47-ab87-4462e451cf1b
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "QDJ00BN10T726", "label": "Test Order Type 1770241686", "taxable":
        true, "isDefault": true, "filterCategories": false, "fee": 100, "minOrderAmount":
        500, "avgOrderTime": 0, "hoursAvailable": "BUSINESS", "isDeleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:48:07 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types
    body:
      encoding: UTF-8
      string: '{"label":"Test Order Type 1770421181","taxable":true,"fee":100,"minOrderAmount":500,"avgOrderTime":0,"isDeleted":false}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 69c2f898-f07e-4ef4-84b5-3f569fa8a01b
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "BV9MWEM17GGE8", "label": "Test Order Type 1770421181", "taxable":
        true, "isDefault": false, "filterCategories": false, "fee": 100, "minOrderAmount":
        500, "avgOrderTime": 0, "hoursAvailable": "BUSINESS", "isDeleted": false}'
  recorded_at: Fri, 06 Feb 2026 23:39:41 GMT
recorded_with: VCR 6.4.0
