---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - id, deletedTime
      X-Clover-Request-Id:
      - 071bd303-4bdf-4876-9a33-945125f2a056
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ ], "href": "http://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types?limit=100"}'
  recorded_at: Wed, 04 Feb 2026 21:48:06 GMT
recorded_with: VCR 6.4.0
