---
http_interactions:
- request:
    method: get
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Allowed-Filter-Fields:
      - id, deletedTime
      X-Clover-Request-Id:
      - d596ce2f-a9d5-4543-b650-a9c0792d6b89
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"elements": [ {"id": "QDJ00BN10T726", "label": "Test Order Type 1770241686",
        "taxable": true, "isDefault": true, "filterCategories": false, "fee": 100,
        "minOrderAmount": 500, "avgOrderTime": 0, "hoursAvailable": "BUSINESS", "isDeleted":
        false}], "href": "http://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types?limit=100"}'
  recorded_at: Wed, 04 Feb 2026 21:48:08 GMT
[...]
- request:
    method: post
    uri: https://sandbox.dev.clover.com/v3/merchants/<MERCHANT_1_ID>/order_types
    body:
      encoding: UTF-8
      string: '{"label":"Catering","taxable":true,"fee":0,"minOrderAmount":5000,"avgOrderTime":0,"isDeleted":false}'
    headers:
      Authorization:
      - Bearer <MERCHANT_1_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Clover-Request-Id:
      - 0c6a59ef-dd7e-4f93-a97a-79bced9c1777
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id": "JB0R04MDF02KT", "label": "Catering", "taxable": true, "isDefault":
        false, "filterCategories": false, "fee": 0, "minOrderAmount": 5000, "avgOrderTime":
        0, "hoursAvailable": "BUSINESS", "isDeleted": false}'
  recorded_at: Wed, 04 Feb 2026 21:48:11 GMT
recorded_with: VCR 6.4.0
